        * {
            padding: 0;
            margin: 0;
        }

        :root {
            --color: rgb(229, 9, 20);
        }

        body {
            background-color: black;
            color: white;
        }

        .main-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            gap: 60px;
        }

        .main-baground {
            position: relative;
            width: 100vw;
            height: 90vh;
            background-image: url("assets/images/netflix-bag.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            box-shadow: inset 0 0 173px 560px rgba(0, 0, 0, 0.7)
        }

        .main-align-box {
            width: 80vw;
            margin: auto;
            padding: 20px;
            /* gap: 10px; */
            position: relative;
        }

        nav {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
        }

        nav>img {
            position: relative;
            z-index: 10;
            height: 40px;
            color: rgb(229, 9, 20);

        }

        .btn {
            display: flex;
            gap: 10px;
        }

        .eng-btn {
            color: white;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 5px 10px;
            border: 1px solid rgb(100, 100, 100);
            display: inline-flex;
            justify-items: center;
            align-items: center;
            text-align: center;
            border-radius: 4px;
            gap: 8px;
            font-size: medium;
            cursor: pointer;

        }

        .sig-btn {
            border: none;
            background-color: rgb(229, 9, 20);
            color: white;
            padding: 5px 15px;
            border-radius: 5px;
            font-size: small;
            font-weight: 600;
            cursor: pointer;
        }

        /* -------------------------------------------- section: 1 ------------------------------------------*/
        .section-1 {
            height: 60vh;
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            color: white;
            margin: auto;
        }

        .heading {
            font-family: "Nunito Sans", sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            gap: 20px;

        }

        .heading h1 {
            font-size: 60px;
            word-wrap: break-word;
            text-align: center;
            font-weight: 900;
        }

        .heading p:nth-child(2) {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

        .heading p:nth-child(3) {
            font-size: 16px;
            text-align: center;
        }

        .s1-btn {
            display: flex;
            padding: 20px 10px;
            text-align: center;
            word-wrap: break-word;
            gap: 10px;
            /* justify-content: space-between; */
        }

        .input {
            background-color: rgba(0, 0, 0, 0.4);
            border: 1px solid gray;
            width: 400px;
            padding: 15px 15px;
            border-radius: 3px;
            color: rgb(216, 210, 210);
            font-size: 14px;
            outline: none;

        }

        .input::placeholder {
            color: rgb(190, 178, 178);
            opacity: 1;
            font-size: 16px;
        }

        .get-str {
            background-color: var(--color);
            color: white;
            padding: 10px 20px;
            border: none;
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
            font-size: 20px;
            border-radius: 4px;
            font-weight: 800;
            cursor: pointer;
        }

        /* Line */
        .curve-line {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
            border-top-left-radius: 100% 100%;
            border-top-right-radius: 100% 100%;
        }

        /* -------------------------------------------- section: 2 ------------------------------------------*/


        .sec-2 {
            width: 80vw;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-items: center;
            color: white;
            gap: 20px;
        }

        .trending {
            position: relative;
            display: flex;
            justify-content: center;
            justify-items: center;
            gap: 50px;
        }

        .trending-img {
            position: relative;
            display: flex;
            gap: 20px;
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        .trending-img img {
            height: 35vh;
            border-radius: 10px;
            flex-shrink: 0;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

        }

        .trending-img img:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
        }

        .right-arrow svg {
            top: 30%;
            position: absolute;
            height: 40%;
            width: 25px;
            right: 0;
            z-index: 1;
            background-color: rgb(28, 28, 28);
            border-radius: 5px;
        }

        /* -------------------------------------------- section: 3 ------------------------------------------*/

        .sec-3 {
            display: flex;
            flex-direction: column;
            width: 80vw;
            margin: auto;
            color: white;
            gap: 20px;
        }

        .slides {
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
            gap: 20px;
        }

        .slides-part {
            height: 35vh;
            display: flex;
            flex: 1;
            flex-direction: column;
            background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
            padding: 20px;
            border-radius: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            gap: 20px;
            position: relative;
            box-sizing: border-box;
        }

        .slides-part>svg {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 20px;
        }

        .slides-part>h1 {
            font-weight: 600;
        }

        .slides-part>p {
            color: rgb(171, 181, 181);
        }

        /* -------------------------------------------- section: 4 ------------------------------------------*/

        .sec-4 {
            width: 80vw;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .sec-4-list {
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 10px;
        }

        .sec-4-list>li {
            background-color: rgba(66, 63, 63, 0.68);
            display: flex;
            justify-content: space-between;
            padding: 25px 20px;
            font-size: 24px;
        }
        .sec-4-list>li:hover{
            background-color: rgb(61, 60, 60);
        }

        .sec-4-list>li>svg {
            cursor: pointer;
        }

        /* -------------------------------------------- section: 5 ------------------------------------------*/


        .sec-5 {
            width: 80vw;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .sec-5 input {
            padding-right: 15vw;
        }

        .foot {
            color: rgba(255, 255, 255, 0.7);
            width: 80vw;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-bottom: 120px;
        }

        .foot>p>a {
            color: rgba(255, 255, 255, 0.7);
        }

        .foot-list {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 20px;
            column-gap: 40px;
        }

        .foot-list a {
            color: rgba(255, 255, 255, 0.7);
        }

        .foot button {
            box-sizing: border-box;
        }

        /* ------------------------------------------------------------------------------------------- */
        @media screen and (max-width: 800px) {

            .s1-btn {
                display: flex;
                flex-direction: column;
            }

            .main-align-box {
                width: 80vw;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 80px;
            }

            .heading {
                gap: 5px;

            }

            .heading h1 {
                font-size: 40px;
                font-weight: 800;
            }

            .input {
                padding: 15px 100px 15px 10px;
                font-size: 15px;
            }

            .get-str {
                padding: 10px 15px;
                font-size: 15px;
                font-weight: 600;
            }

            nav {
                height: 40px;
                display: flex;
                flex-direction: column;
                padding: 10px;
                gap: 10px;
            }

            .sec-2 {
                margin-bottom: 40px;
            }

            .sec-3 {
                margin-top: 40px;
            }

            .slides {
                flex-direction: column;
                height: 100vh;
                gap: 10px;
                margin-top: 20px;
                padding: 5px;
                font-size: 14px;
            }

            .slides-part {
                width: 100%;
            }

            .slides-part>svg {

                width: 40px;
                height: 40px;
                bottom: 5px;
                right: 5px;
            }

            .sec-4 .sec-4-list>li {
                font-size: 16px;
                padding: 20px 10px;
            }

            .sec-4 .sec-4-list>li>svg {
                height: 25px;
            }

            .foot .foot-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

            }

            .input {
                width: auto;
            }


        }