body {
    color: rgb(77, 55, 24);
    position: relative;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Blackbeared.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */

    filter: blur(100%);
    /* Blur the background */
    z-index: -1;
    /* Push behind page content */
    opacity: 0.5;
    /* Optional: make it more subtle */
}